# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
demo/node_modules
lib/node_modules

# production
lib/build
lib/dist

# misc
.DS_Store
.envrc
.direnv/
